@tailwind base;
@tailwind components;
@tailwind utilities;

.flagsList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1rem;
}

img {
	max-width: 100%;
}

.countryCard:hover {
	transform: scale(1.05);
}

.navBar {
	z-index: 10;
	position: sticky;
	top: 1rem;
	display: flex;
	justify-content: space-between;
	background: gray;
	transition: top .2s ease-in-out;
}